
graphml-to-ttl/transforge/
graphml-to-ttl/0.2.0
graphml-to-ttl/0.2.0'
graphml-to-ttl/cct/
graphml-to-ttl/.idea/
~*.tmp
graphml-to-ttl/.idea/graphml-to-ttl.iml
graphml-to-ttl/.idea/misc.xml
graphml-to-ttl/.idea/vcs.xml
graphml-to-ttl/.idea/workspace.xml
graphml-to-ttl/__pycache__/hubs.cpython-310.pyc
graphml-to-ttl/__pycache__/workflow_turtling.cpython-310.pyc
